@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
}

#main-container #left-section{
    height: 90vh;
    width: 50%;
    background-image: url("../images/hiring-background.jpg");
    background-size: cover;
    color: #fdda74;
}

#main-container #right-section{
    padding-top: 10vh;
    height: 90vh;
    width: 50%;
    display: flex;
    align-items: space-between;
    justify-content: center;
    background-color: #F2F2F2;
}

#main-container #left-section{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-container #left-section .line{
    margin-top: 1rem;
    height: 0.2rem;
    width: 40%;
    background-color: #fdda74;

}

/* #main-container #right-section form{
    width: 100%;
} */

#main-container #right-section .input-section{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



#main-container #right-section .input-section .input{
    width: 85%;
}

#main-container #right-section .input-section .input input{
    font-size: 15px;
    border: none;
    outline: none;
    height: 35px;
    width: 100%;
    padding: 3px 8px 3px 8px;
    border-radius: 10px;
    background-color: #fdda74;
    color: black;
    font-family: "Montserrat", sans-serif;
}

#main-container #right-section .file{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main-container #right-section .file .input{
    width: 85%;
}
 
#main-container #right-section .file .input input {
    font-size: 15px;
    height: 30px;
    width: 100%;
    color: black;
    font-family: "Montserrat", sans-serif;
}

#main-container #right-section .submit-button button {
    outline: none;
    border: none;
    height: 25px;
    width: 100px;
    padding: 3px 8px 3px 8px;
    border-radius: 10px;
    background-color: #fdda74;
    font-weight: bold;
  }
  
#main-container #right-section .submit-button button:hover {
    background-color: black;
    color:#F2F2F2
}

#main-container #right-section .submit-button{
    padding-right: 8px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
} 

::placeholder{
    color:black;
    font-size: 13px;
}

@media screen and (max-width: 768px) {
    #main-container #left-section{
        width: 0%;
    }

    #main-container #right-section{
        padding-top: 12vh;
        width: 100%;
    }

    #main-container #right-section .input-section .input input{
        width: 100%;
    }
    
    #main-container #right-section .input-section{
        height: 8vh;
    }
}