* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  --color-2: #ffdc74;
  --color-3: rgb(0, 0, 0);
}

#service-abstract {
  color: black;
  font-weight: bold;
  text-align: justify;
}

.infoline {
  margin: 0 2rem;
}

#service-abstract h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
}

#service-abstract h1::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 2px;
  border-radius: 8px;
  background: var(--color-2);
  margin-right: 10px;
}

#service-abstract h1::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 2px;
  border-radius: 8px;
  background: var(--color-2);
  margin-left: 10px;
}

.service-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 2rem;
}

.service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 18vh;
  padding: 10px;
}

.service-card img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  width: 80%;
}

.wrapper {
  padding: 10px;
  margin: 0 auto;
  width: 500px;
  text-align: center;
  transform: translate(25%, -25%);
}
.wrapper .item {
  visibility: hidden;
  display: none;
}
.wrapper h2 {
  font-size: 50px;
  margin: 0;
  color: #3a3a3a;
  text-align: left;
}
.wrapper > div {
  min-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  color: orange;
}
.wrapper > div:after {
  content: "";
  width: 10px;
  height: 4px;
  display: block;
  background: black;
  color: orange;
  margin-bottom: 4px;
  margin-left: 2px;
  animation-duration: 350ms;
  animation-name: fade;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
