@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,700;1,400&display=swap");

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: white;
  font-family: "Montserrat", sans-serif;
  --color-2: #ffdc74;
}

body {
  color: var(--color-1);
}

/* Swiper css */

html {
  position: relative;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 82vh;
}
.swiper-pagination {
  z-index: 100000;
}

.swiper-container .swiper-button-next {
  color: rgb(255, 255, 255);
}
.swiper-container .swiper-button-prev {
  color: rgb(255, 255, 255);
}
.swiper-container .swiper-pagination-bullet {
  color: black;
}
.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-blend-mode: multiply;
}
.img1 {
  background: url("../images/bs1.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: bottom;
}
.img2 {
  background: url("../images/bs2.png");
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: bottom;
}
.img3 {
  background: url("../images/media-room-basement-remodel-6.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: bottom;
}
.img4 {
  background: url("../images/renovated-basement-ideas-add-flair-with-arches.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: bottom;
}
.img5 {
  background: url("../images/renovated-basement-ideas-drop-ceilings.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: bottom;
}
.img6 {
  background: url("../images/renovated-basement-ideas-entertain-guests-wet-bar.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: bottom;
}
.img7 {
  background: url("../images/renovated-basement-ideas-include-good-lighting.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: bottom;
}
.img8 {
  background: url("../images/renovated-basement-ideas-small-apartment.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: bottom;
}
.img9 {
  background: url("../images/renovated-basement-ideas-storage-is-a-must.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: bottom;
}

.content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  /* height: fit-content; */
  min-height: 100vh;
  padding: 10rem;
  color: #ffdc74;
}
.section-sub-title {
  margin-top: 1rem;
  font-weight: normal;
  color: white;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  .content-container {
    font-size: 0.7rem;
    padding: 4rem;
    text-align: center;
    align-items: center;
  }
}

@keyframes linksFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes linksFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mainButtonIn {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes mainButtonOut {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.scroll-left {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  height: 30px;
  overflow: hidden;
  position: relative;
  background: #ffdc74;
  color: rgb(59, 59, 59);
  border: 1px solid orange;
}
.scroll-left p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 30px;
  text-align: center;
  /* Starting position */
  transform: translateX(100%);
  /* Apply animation to this element */
  animation: scroll-left 15s linear infinite;
}

/* Move it (define the animation) */
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* counter css start */
.counter-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100vw;
  height: fit-content;
  background-color: #ffdc74;
}
/* counter css end */

/* footer css */

.contact-us li img {
  width: 5%;
}

.footer {
  background: #333333;
  padding: 25px;
}
.footer-grid {
  background-color: #333333;
  color: white;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#item1 {
  margin: 50px auto;
}

#item2 {
  margin: 50px auto;
}

#item3 {
  margin: 50px auto;
}
.list h3 {
  margin-bottom: 15px;
}
.list li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 0.8rem;
}
.list li a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

.list a:hover {
  color: #ffdc74;
}

@media screen and (max-width: 480px) {
  .footer {
    background: #333333;
    padding: 5px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .list h3 {
    margin-bottom: 15px;
    border-bottom: 1px solid gray;
  }

  #item1,
  #item2,
  #item3 {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list ul {
    margin: 0;
    padding: 0;
  }

  #item3 {
    border-bottom: none;
  }
  #item2 ul {
    padding-bottom: 10px;
  }
}

.footer-grid-end {
  margin: 0 auto;
  padding: 20px 0px;
  width: 80%;
  border-top: 1px solid gray;
  background: #333333;
  display: flex;
  justify-content: baseline;
  align-items: center;
  color: white;
}

.social-handles {
  width: 50%;
}

.copy-rights {
  width: 50%;
  text-align: right;
  font-size: 0.5rem;
}

.social-handles img {
  width: 25px;
  height: 25px;
}
/* footer css end */
